body {
	font-family: sans-serif;
	background-color: white;
}

#title {
	background-color: blue;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	text-align: center;
}

#title a {
	color: white;
	text-decoration: none;
}

#error {
	text-align: center;
	background-color: red;
	color: white;
}

#login-form {
	margin-top: 5%;
	float: left;
	width:50%;
	text-align: center;
}

#registration-form {
	margin-top: 5%;
	float: right;
	width: 49%;
	text-align: center;
	border-left: 2px solid blue;
}

form {
	margin-left: 25%;
}
