body {
	font-family: sans-serif;
	background-color: white;
}

#title {
	background-color: blue;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	text-align: center;
}

#title a {
	color: white;
	text-decoration: none;
}

#faculty-name {
	float: left;
	margin-left: 30%;
	width: 60%;
}

#faculty-logout {
	margin-top: 3px;
	margin-bottom: 3px;
	background-color: blue;
	width: 10%;
	text-align: center;
	float: right;
}

#faculty-logout a {
	color: white;
}

#error {
	margin-top: 5.5%;
	text-align: center;
	background-color: red;
	color: white;
}

#post-manage {
	width: 49%;
	margin-left: 0%;
	float: left;
	border-right: 3px solid blue;
}

#your-posts {
	overflow:auto;
	width: 50%;
	float: right;
}

h3 {
	text-align: center;
}

form {
	margin-left: 20%;
}

a {
	color: black;
	text-decoration: none;
}
